body {
  padding: 50;
  margin: 50;
  background-color: rgb(122, 122, 122);
  color: rgb(255, 255, 255);

}

.navbar {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.navbar-links {
  display: flex;
  gap: 30px;
}

.container {
  padding: 0 50px;
}